<div class="shell-wrap">
  <div class="shell-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
  <nav class="tab-bar" #tabBar [class.tab-bar-overlay]="tabAttiva === 'camera'">

    <button type="button" class="tab" [class.tab-active]="tabAttiva==='eventi'" (click)="go('/eventi/miei')">
      <ion-icon name="film-outline"></ion-icon>
      <span>Rullini</span>
    </button>

    @if (isHybrid) {
      <button type="button" class="tab"
        [class.tab-active]="tabAttiva==='camera'"
        [class.tab-on]="st?.showCamera"
        [disabled]="!st?.showCamera"
        (click)="goCamera()">
        <ion-icon name="camera-outline"></ion-icon>
        @if (st?.showCamera && (st?.scattiRimanenti ?? 0) > 0) {
          <span class="badge">
            {{ st?.scattiRimanenti }}
          </span>
        }
        <span>Camera</span>
      </button>
    }

    <button type="button" class="tab"
      [class.tab-active]="tabAttiva==='partecipa'"
      (click)="go('/eventi/partecipa')">
      <ion-icon name="ticket-outline"></ion-icon>
      <span>Partecipa</span>
    </button>

    <button type="button" class="tab" [class.tab-active]="tabAttiva==='profilo'" (click)="go('/profilo')">
      <ion-icon name="person-outline"></ion-icon>
      <span>Profilo</span>
    </button>

  </nav>
</div>
